name: Deploy Functions

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: deploy-functions-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - id: auth
        name: Authenticate to GCP (OIDC)
        uses: google-github-actions/auth@v2
        with:
          create_credentials_file: true
          workload_identity_provider: projects/563258569866/locations/global/workloadIdentityPools/github/providers/github
          service_account: github-action-961821538@portfolio-bd22d.iam.gserviceaccount.com

      - name: gcloud auth login
        run: gcloud auth login --brief --cred-file="${{ steps.auth.outputs.credentials_file_path }}"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build functions
        run: pnpm build:functions

      - name: Deploy functions
        run: pnpm deploy:functions
