name: Release Packages

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      TURBO_SCM_BASE: ${{ github.event.before }}
      TURBO_SCM_HEAD: ${{ github.sha }}
      TURBO_TELEMETRY_DISABLED: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm turbo run build --filter=@o3osatoshi/*
        env:
          AUTH_GOOGLE_ID: ${{ secrets.AUTH_GOOGLE_ID }}
          AUTH_GOOGLE_SECRET: ${{ secrets.AUTH_GOOGLE_SECRET }}
          AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
          AXIOM_API_TOKEN: ${{ secrets.AXIOM_API_TOKEN }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          EXCHANGE_RATE_API_KEY: ${{ secrets.EXCHANGE_RATE_API_KEY }}
          EXCHANGE_RATE_BASE_URL: ${{ secrets.EXCHANGE_RATE_BASE_URL }}
          NEXT_PUBLIC_API_BASE_URL: ${{ secrets.NEXT_PUBLIC_API_BASE_URL }}
          NEXT_PUBLIC_RAINBOW_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_RAINBOW_PROJECT_ID }}
          UPSTASH_REDIS_REST_TOKEN: ${{ secrets.UPSTASH_REDIS_REST_TOKEN }}
          UPSTASH_REDIS_REST_URL: ${{ secrets.UPSTASH_REDIS_REST_URL }}

      - name: Creating .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            registry=https://registry.npmjs.org/
            @o3osatoshi:registry=https://registry.npmjs.org/
            always-auth=true
            //registry.npmjs.org/:_authToken=${NPM_TOKEN}
          EOF

      - name: Create release PR or publish to npm
        uses: changesets/action@v1
        with:
          version: pnpm release:version
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
